body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 4fr 1fr 1fr 40px;
    grid-template-columns: repeat(4, 1fr);
}

div div {
    display: grid;
    justify-content: center;
    align-items: center;
}

.green-background {
    background-color: green;
}

.yellow-background {
    background-color: gold;
    grid-column: 2/5;
}

.pink-background {
    background-color: fuchsia;
    grid-column: 1/5;
}

.blue-background {
    background-color: blue;
    grid-area: 3/1/5/3;
}

.red-background {
    background-color: red;
    grid-area: 3/4/4/5;
}

.lightgreen-background {
    background-color: lightgreen;
    grid-area: 4/4/5/5;
}

.purple-background {
    background-color: purple;
    grid-area: 5/1/6/5;
}