body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container {
    
}

#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.green-background {
    background-color: green;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.yellow-background {
    background-color: gold;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.pink-background {
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 390px;
}

#middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 25%;
}

.blue-background {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50%;
}

section {
    height: 150px;
    width: 25%;
}

.red-background {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.lightgreen-background {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.purple-background {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}